<link rel="stylesheet" href="systems/op-rpg/templates/sheets/PC/pc-sheet.css">
<link rel="stylesheet" href="systems/op-rpg/templates/sheets/tabs.css">
<script src="systems/op-rpg/templates/sheets/tabs.js" defer></script>
<form class="{{cssClass}}" autocomplete="off">
Criatura
<label>{{actor.name}}</label>
</form>