<link rel="stylesheet" href="systems/op-rpg/templates/sheets/Armas/weapon-sheet.css">
<form class="{{cssClass}}" autocomplete="off">
    <div class="header-container">
        <img class="headerbox1" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <input class="headerbox2" name="name" type="text" value="{{item.name}}"/>
        <input class="headerbox3" name="damageType" type="text" value="{{item.damageType}}">
        <input class="headerbox4" name="weapontType" type="text" value="{{item.weapontType}}">
        <input class="headerbox5" name="weaponHilt" type="text" value="{{item.weaponHilt}}">
        <input class="headerbox6" name="weaponCategory" type="text" value="{{item.weaponCategory}}">
        <input class="headerbox7" name="weaponSpace" type="text" value="{{item.weaponSpace}}">
        <input class="headerbox8" name="weaponAgileStrong" type="text" value="{{item.weaponAgileStrong}}">
    </div>
    <div class="information-container">
        <div class="infobox1"><label class="information-label" for="box1">Dano</label><input class="infobox" name="weaponDamage" id="box1" value="{{item.weaponDamage}}"></div>
        <div class="infobox2"><label class="information-label" for="box2">Ameaça</label><input class="infobox" name="weaponThreat" id="box2" value="{{item.weaponThreat}}"></div>
        <div class="infobox3"><label class="information-label" for="box3">Crítico</label><input class="infobox" name="weaponCrit" id="box3" value="{{item.weaponCrit}}"></div>
        <div class="infobox4"><label class="information-label" for="box4">Alcance</label><input class="infobox" name="weaponRange" id="box4" value="{{item.weaponRange}}"></div>
    </div>
</form>
